<ul class="nested-menu">
  <li class="active">
    <ul>
      <li class="active">
        <ul>
          <li>
            <a href="/docs/cli/" class="{% if page.id == 'cli-index' %}active{% endif %%}">起步</a>
            <a href="/docs/cli/projects.html" class="{% if page.id == 'cli-projects' %}active{% endif %%}">项目类型</a>
            <a href="/docs/cli/starters.html" class="{% if page.id == 'cli-starter-list' %}active{% endif %%}">启动器模板</a>
            <a href="/docs/cli/commands.html" class="{% if page.id == 'cli-command-list' or page.command_name %}active{% endif %%}">命令列表</a>
            <a href="/docs/cli/configuring.html" class="{% if page.id == 'cli-configuration' %}active{% endif %%}">配置</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
