{% extends '_layouts/base.html' %}
{% set title = "Build Amazing Native Apps and Progressive Web Apps with Ionic Framework and Angular" %}
{% set id = "framework" %}

{% block main %}
<div id="slider" class="primary-row">
  <div class="slide slide-home">
    <div class="container">
      <div class="col-sm-6 fadeIn">
        <h1>
          用于构建酷炫移动应用的顶级开源框架。
        </h1>
        <h3>
          Ionic 是轻松开发原生和渐进式 Web 应用（PWA）的优雅、免费和开源的移动 SDK。

        </h3>
        <p class="btn-row">
          <a id="repo-download"
             class="btn white btn-download desktop-btn"
             href="/getting-started/">开始</a>
          <a class="btn btn-primary btn-get-started hide-sm"
             href="/docs/"
             alt="Docs for v{{frameworkInfo.version}}"
             onclick="c('Docs','HomeCTA', this, 0)">探索文档</a>
          <a class="btn btn-primary btn-download show-sm" href="/docs/">
            查阅文档</a>
        </p>
        <p class="version-text">
          <a href="https://github.com/ionic-team/ionic/releases/tag/v{{frameworkInfo.version}}"
             target="_blank">v{{frameworkInfo.version}}</a> / {{frameworkInfo.date}} /
          <a href="https://github.com/ionic-team/ionic/blob/master/LICENSE"
             target="_blank">MIT Licensed</a> /
          <a href="https://github.com/ionic-team/ionic/releases/tag/v{{frameworkInfo.version}}"
             target="_blank">Release Notes</a>
        </p>
      </div>
      <div class="col-sm-6 feature-img one">
        <img class="device pixel two" src="/img/framework/cta-pixel-2.png">
        <img class="device iphone one" src="/img/framework/cta-iphone-2.png">
        <a href="http://view.ionic.io/" target="_blank">
          <img class="app-icon three" src="/img/homepage/ionicview-icon_2x.png">
          <span class="demo-link">Ionic View App</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="utility-bar">
  <div class="container">
    <ionic-newsletter-signup
      dark-mode="true"
      placeholder="获取最新的 ionic 框架新闻和更新"
      buttons-text="Email me!"></ionic-newsletter-signup>

    <ul class="social-row ionic">
      <li>
        <a href="https://github.com/ionic-team/ionic" target="_blank">
          <i class="ion-logo-github"></i> <span id="gh-stargazers"></span>
          stars
        </a>
      </li>
      <li>
        <a href="https://github.com/ionic-team/ionic" target="_blank">
          <i class="ion-md-git-branch"></i> <span id="gh-forks"></span> forks</a>
      </li>
      <li>
        <a href="https://twitter.com/IonicFramework" target="_blank">
          <i class="ion-logo-twitter"></i>
          <span id="tw-followers">
            {%if followerCount %}{{followerCount.toLocaleString()}} followers
            {% else %} twitter {% endif %}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!--
<section class="promo" id="promo-snapshot">
  <h2>Introducing <a href="/promos/snapshot.html">Snapshot</a></h2>
  <h4>Manage &amp; automate multi-platform UI testing, remotely in the cloud.</h4>
  <img src="/img/promos/snapshot.png" width="975">
  <div id="promo-bar">
    <div class="container">
      <div class="left-text">Start shipping high quality apps with confidence</div>
      <div class="right-text">
        <a href="/promos/snapshot.html" class="btn">Reserve your Spot</a>
      </div>
    </div>
  </div>
</section>
-->
<!--
<section class="promo" id="promo-ionicu">
  <img src="/img/promos/ionic-u-logo.png" style="height: 80px" />
  <h2>Go mobile fast with <b>Ionic University</b></h2>
  <h4>Mobile development training taught by Ionic experts.</h4>
  <div>
    <a href="/promos/university.html" class="btn">Learn more</a>
  </div>
</section>
-->

<aside class="banner-cta">
  <div class="container">
    <div class="box">
      <hgroup>
        <p class="orange">结果出来了！</p>
        <h2>2017年 Ionic 开发者调查</h2>
        <p class="lg">
          查看超过13,000个 Ionic 社区成员的意见
        </p>
      </hgroup>
      <a href="/survey/2017" class="btn">查看最终结果</a>
    </div>
  </div>
</aside>

<section class="built-with">
  <hgroup class="container">
    <h2>用你熟悉并喜爱的 Web 技术构建应用程序</h2>
    <h4>
      知道如何构建网站？那么你就已经知道如何构建移动应用了。
      Ionic 框架为其提供了最好的 web 和原生应用组件，
      用于构建高度互动的原生和渐进 Web 应用。
    </h4>
    <ul class="techs">
      <li class="angular"></li>
      <li class="js"></li>
      <li class="ts"></li>
      <li class="html"></li>
    </ul>
  </hgroup>
  <ul class="features container">
    <li>
      <h3>免费 &amp; 开源</h3>
      <p>
        Ionic 框架是一个 100％ 的免费和开源项目，使用 MIT 授权。
        它将始终保持免费使用，并由一个庞大的全球社区提供支持。

      </p>
    </li>
    <li>
      <h3>完全跨平台</h3>
      <p>
        使用一个代码库为各个主要的应用商店构建渐进式网页和原生移动应用。
        Ionic 奏效并看起来很优雅，无论它在哪里运行。
      </p>
    </li>
    <li>
      <h3>最好的原生插件</h3>
      <p>
        使用120多种原生设备功能，
        如 Bluetooth，HealthKit，Finger Print Auth等，以及 Cordova/PhoneGap 插件和 TypeScript 扩展。

      </p>
    </li>
    <li>
      <h3>一流的文档</h3>
      <p>
        使用真实的应用示例，组件 demo，
        指南以及如何使用移动应用程序启动，运行速度比以前更快。
      </p>
    </li>
  </ul>
</section>

<section class="about-code container">
  <aside class="code-box">
    <header>
      <h3>编写一次，到处运行。</h3>
      <ul class="platforms">
        <li class="ios"></li>
        <li class="android"></li>
        <li class="windows"></li>
        <li class="chrome"></li>
        <li class="electron"></li>
      </ul>
    </header>
    <div class="draggable stage">
      <div class="code">
<pre><code class="lang-html">
<span class="line">&lt;ion-list&gt;</span>
<span class="line"></span>
<span class="line">  &lt;ion-item&gt;</span>
<span class="line">    &lt;ion-icon name="planet" item-left&gt;&lt;/ion-icon&gt;</span>
<span class="line">    Astronomy</span>
<span class="line">  &lt;/ion-item&gt;</span>
<span class="line"></span>
<span class="line">  &lt;ion-item&gt;</span>
<span class="line">    &lt;ion-icon name="body" item-left&gt;&lt;/ion-icon&gt;</span>
<span class="line">    Muggle Studies</span>
<span class="line">  &lt;/ion-item&gt;</span>
<span class="line"></span>
<span class="line">&lt;/ion-list&gt;</span>
</code></pre>
      </div>
      <div class="app"></div>
      <div class="toggle"></div>
    </div>
  </aside>
  <hgroup>
    <h2>
      一个代码库。<br>
      无处不在。
    </h2>
    <h4>
      Ionic 是唯一的移动应用程序栈，它使所有主要应用程序商店的 Web 应用和移动网站使用一个代码库成为可能。
      借助 Ionic 的<strong>平台连续性</strong>，你的应用可以在每台设备上体验到家的感觉。


    </h4>
  </hgroup>
  <ul class="features">
    <li>
      <h3>痴迷性能</h3>
      <p>
        速度是如此重要，但你只有在它消失时才会注意到。
        Ionic 的构建为了在最新的移动设备上表现出色，采用了最佳实践，
        比如高效硬件加速过渡和触控优化手势。相信我们，你会留下深刻的印象。

      </p>
      <a href="/docs/api" title="V2 API Docs">
        检验我们完整版的 API
        <span class="ion-ios-arrow-forward-outline"></span>
      </a>
    </li>
    <li class="beautiful">
      <h3>设计精美</h3>
      <p>
        干净，简约，实用。
        Ionic 为在当前所有移动设备和平台上进行精美的表现而设计。
        随着现成的组件，排版和一个适合每个平台的极其漂亮（不妨碍扩展）的基本主题，你可以用样式去进行构建。

      </p>
      <a href="/docs/components/" title="Component Docs">
        探索我们的组件文档
        <span class="ion-ios-arrow-forward-outline"></span>
      </a>
    </li>
    <li class="optimized">
      <h3>原生<i>和</i> web 优化</h3>
      <p>
        Ionic 模拟原生应用 UI 指南并使用原生 SDK，
        将原生应用的 UI 标准和设备特性与开放 web 的全部功能和灵活性结合在一起。
        Ionic 使用 Cordova 或 Phonegap 进行本地部署，换而言之可以作为渐进式 Web 应用在浏览器中运行。


      </p>
      <a href="https://blog.ionic.io/what-is-a-progressive-web-app/">
        了解渐进式 Web 应用（PWA）
        <span class="ion-ios-arrow-forward-outline"></span>
      </a>
    </li>
  </ul>
</section>

<section class="about-toolkit">
  <div class="container">
    <hgroup>
      <h2>一个完整的移动工具包，为 Web 开发人员构建。</h2>
      <h4>
        你所需知道的开始创建功能全面的移动应用程序的一切，只需几分钟。

      </h4>
    </hgroup>
    <ul class="features">
      <li class="cli">
        <a href="/docs/cli/">一个简单的 CLI</a> 用于在任何平台上创建，构建，测试和部署你的 Ionic 应用程序。
        这就像魔法，但它的确不是。
      </li>
      <li class="native">
        <a href="/docs/native/">Ionic 原生</a>通过在 TypeScript 中包装 Cordova 插件来解锁原生 API 和功能。

      </li>
      <li class="reload">
        <a href="https://blog.ionic.io/live-reload-all-things-ionic-cli/">实时重载</a>是因为在开发的每个编译和重新部署应用步骤中都是一大块工作量。


      </li>
      <li class="zionicons">
        <a href="/docs/ionicons/">Ionicons</a>图标包包含数百种最常见的应用程序图标。
        MIT 授权，开箱即用。
      </li>
      <li class="deeplinking">
        <a href="https://blog.ionic.io/deeplinking-in-ionic-apps/">Deeplinking
        </a>你可以从 web 链接启动你的应用，从一开始就加载特定的视图。

      </li>
      <li class="aot">
        <a href="http://blog.ionic.io/ionic-build-process-updates/">AoT
        编译</a>意味着你的应用能够快速加载。
        不要在加载屏幕上闪烁，那样你会错过它。
      </li>
    </ul>
  </div>
</section>

<section class="about-community">
  <div class="container">
    <aside class="stats">
      <h5>惊鸿一瞥</h5>
      <h1>4 M</h1>
      <h4>IONIC 应用建设</h4>
      <ul>
        <li class="devs">5百万开发者</li>
        <li class="meetups">100+团体</li>
        <li class="github"><span id="gh-stars">27,400+</span> Github stars</li>
        <li class="so">30,000 S.O. 问题</li>
      </ul>
    </aside>
    <hgroup>
      <h2>与周围最好的社区一起建设。</h2>
      <h4>
        全球有超过200个国家有数百万的 Ionic 开发者。
        <a href="">加入我们。</a>
      </h4>
    </hgroup>
    <ul class="features">
      <li class="slack">
        <a href="http://ionicworldwide.herokuapp.com/">World Wide Slack</a> 总是充斥着大量的 ionic 开发者。
      </li>
      <li class="forum">
        <a href="http://forum.ionicframework.com/">社区论坛</a>非常适合分享和获得帮助。
      </li>
      <li class="so">
        <a href="http://stackoverflow.com/search?q=ionic">StackOverflow</a> 充满了常见问题的帮助。
      </li>
      <li class="github">
        <a href="https://github.com/ionic-team/ionic">GitHub</a> 是提交问题和贡献的最佳地点。
      </li>
    </ul>
  </div>
</section>

<section class="loved-by container" id="testimonials">
  <h2>
    受到地球上一些最优秀的人和公司的<strong>喜爱</strong>
  </h2>
  <h3 class="quote hevery active">
    Ionic 是利用优质框架的一个典型例子。
    Angular 的强大功能和灵活性，使开发人员仅用其中的一小部分时间，
    就能够构建可用于生成环境的移动应用程序和渐进式 Web 应用程序，

  </h3>
  <h3 class="quote catlin">
    Ionic 是我用于所有项目的框架，我不确定我是否可以给予比这更强的赞美。
    与众不同的样式和内置于 Ionic 中的复杂性非常棒，
    并且使构建专业级别的移动应用程序成为可能。

  </h3>
  <h3 class="quote tamplin">
    Ionic 将大幅改变移动应用程序的构建方式。
    他们选择 AngularJS 意味着构建功在现在变得轻而易举，
    而且让使用感觉接近原生的应用。你的开发者和你的用户会感谢你。
  </h3>
  <h3 class="quote schinsky">
    当我发现 Ionic 时，我受到了非常多的启发。
    它弥补了当时开发移动应用缺失的空白部分，在构建移动应用时解决了许多复杂的问题，
    否则就需要多个库来保持你代码的整洁。
    总的来说，它只是使移动开发变得有趣和迅速，所以你可以构建更多！
  </h3>
  <ul class="quotees">
    <li data-speaker="hevery" class="active">
      <img src="/img/framework/testimonial-misko.png" alt="Misko Hevery" />
      <strong>Misko Hevery</strong>
      <span>Creator of <a href="https://angular.io">Angular</a></span>
    </li>
    <li data-speaker="catlin">
      <img src="/img/framework/testimonial-hampton.png" alt="Hampton Catlin" />
      <strong>Hampton Catlin</strong>
      <span>Creator of <a href="http://sassdoc.com">Sass</a></span>
    </li>
    <li data-speaker="tamplin">
      <img src="/img/framework/testimonial-james.png" alt="James Tamplin" />
      <strong>James Tamplin</strong>
      <span>Co-Founder &amp; CEO, <a href="https://firebase.google.com">Firebase
      </a></span>
    </li>
    <li data-speaker="schinsky">
      <img src="/img/framework/testimonial-holly.png" alt="Holly Schinsky" />
      <strong>Holly Schinsky</strong>
      <span>Dev Advocate, <a href="http://www.adobe.com">Adobe</a></span>
    </li>
  </ul>
  <img class="companies" src="/img/framework/testimonial-logos.png?1"/>
</section>
{% endblock %}

{% block scripts %}
<!--
<script type="text/javascript" src="/js/slick.js"></script> -->
<script>

// Grab fresh social data from GH and Twitter
function digits(n){
  return n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

$.ajax({
  dataType: "jsonp",
  url: "https://api.github.com/repos/ionic-team/ionic",
  success: function(data){
    if(data) {
      if(data.data.watchers){
        $("#gh-stargazers").html(digits(data.data.watchers));
        $('#gh-stars').html(digits(Math.round(data.data.watchers / 100)*100));
      }
      if(data.data.forks){
        $("#gh-forks").html(digits(data.data.forks));
      }
    }
  }
});

var $appEl = $('.draggable .app');
var draggableWidth = $('.draggable').width();
$('.draggable .toggle').draggable({
  axis: 'x',
  containment: 'parent',
  drag: function(ev, ui) {
    $appEl.css('right', draggableWidth - ui.position.left + 'px');
  }
});

// Testimonials rotation
var $testimonials = $('#testimonials');
var testimonialIntervalID = null;
var queued = false;

function nextQuote() {
  $active = $testimonials.find('.quotees .active');

  if ($active.is(':last-child')) {
    $active.removeClass('active');
    $active = $testimonials.find('.quotees li:first-child').addClass('active');
  } else {
    $active = $active.removeClass('active').next().addClass('active');
  }

  $testimonials.find('h3.active')
               .removeClass('active')
               .siblings('.' + $active.data('speaker'))
               .addClass('active');
}

function startTestimonialRotation() {
  queued = false;
  testimonialIntervalID = setInterval(nextQuote, 8000);
}

// what happens if a speaker is clicked
$('.quotees li').click(function(ev) {
  $testimonials.find('.active').removeClass('active');
  $target = $(ev.delegateTarget);
  $target.addClass('active');
  $testimonials.find('.' + $target.data('speaker')).addClass('active');
  // stop the rotation for a bit
  clearInterval(testimonialIntervalID);
  if (! queued) {
    queued = true;
    setTimeout(startTestimonialRotation, 13000);
  }
})

// kick things off
startTestimonialRotation();

function isScrolledIntoView(el) {
  var elemTop = el.getBoundingClientRect().top;
  var elemBottom = el.getBoundingClientRect().bottom;

  var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
  return isVisible;
}

var codeTriggered = false;
var codeBox = document.getElementsByClassName('code-box')[0];

function checkCodeBoxScroll(){
  if (!codeTriggered && isScrolledIntoView(codeBox)) {
    codeTriggered = true;
    codeBox.classList.add('active');

    setTimeout(function() {
      codeBox.classList.add('done');
    }, 910);
  }
}

$(window).scroll(checkCodeBoxScroll);
checkCodeBoxScroll();

// $('#slider').slick({
//   dots: true,
//   infinite: true,
//   speed: 300,
//   slidesToShow: 1,
//   adaptiveHeight: false,
//   fade: true,
//   cssEase: 'ease-in-out',
//   draggable: false,
//   autoplay: true,
//   autoplaySpeed: 80000,
//   focusOnSelect: false,
//   // https://github.com/kenwheeler/slick/issues/1537
//   accessibility: false
// }).on('beforeChange', function(event, slick, currentSlide, nextSlide){
//   $slide = $("#slider .slick-current");
//   $slide.addClass('slick-fade-out');
//   setTimeout(function(){
//     $slide.removeClass('slick-fade-out')
//   }, 300) // match speed in slick config object above
// })
</script>

{% endblock %}
